.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eee;
    align-items: center;
    padding: 1rem;    
    scroll-margin-top: 56px;
}



.about p {
    padding: 1rem 10rem;
    text-align: center;
}

@media (min-width: 576) and (max-width: 767.9px) {
    .about{
        scroll-margin-top: 80px
    }
}

@media (min-width: 265px ) and (max-width: 575.9px) {
    .about{
        scroll-margin-top: 240px
    }
}

@media (max-width: 264.9px) {
    .about{
        scroll-margin-top: 280px
    }
}