.contact {
    padding: 1rem;
    background-color: #eee;
    scroll-margin-top: 56px
}

@media (min-width: 576) {
    .contact{
        scroll-margin-top: 80px
    }
}

@media (min-width: 265px ) and (max-width: 575.9px) {
    .contact{
        scroll-margin-top: 240px
    }
}

@media (max-width: 264.9px) {
    .contact{
        scroll-margin-top: 280px
    }
}
